* {
  margin: 0;
  padding: 0;
}

html,
body {
  font: 1em sans-serif;
  overflow: visible;
  padding: 4;
}

.webgl {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.background {
  filter: drop-shadow(0 0 0.9em rgba(0, 0, 0, 0.9));
  /* max-height: 70vh; */
  /* background-image: url(/static/background.png); */
  /* object-fit: cover; */
  opacity: 1;
}

.hero {
  padding: 3;
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: space-evenly;
}

.hero-title {
  margin: 4rem 0 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  max-width: max-content;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(195, 130, 0, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 4rem;
  padding: 3rem; /* background-color: red; */
  max-width: 20rem;
  max-height: 8rem;
}

.hero-mobile {
  text-align: center;
  background: rgba(255, 239, 57, 0.472);
  box-shadow: 0 8px 32px 0 rgba(255, 208, 54, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border-radius: 4rem;
  padding: 10rem;
  /* background-color: red; */
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 1.24rem;
  padding: 0.2rem 0 2rem 0;
}

.description {
  font-size: 1rem;
  padding: 0.2rem 0 0 0;
  text-align: left;
}

@media (max-width: 800px) {
  .hero {
    flex-direction: column;
  }
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 0.8rem;
  }
}
